<header 
  [@initialLoad]="shouldShowInitialAnimation ? '' : null"
  [class.header__hidden]="isHeaderHidden && !isHeaderHiddenImmediate" 
  [class.header__hidden--immediate]="isHeaderHiddenImmediate"
  [class.header__hovered]="shouldApplyHoverStyle()"
  (mouseenter)="onHeaderMouseEnter()" 
  (mouseleave)="onHeaderMouseLeave()">
    <div>
      <button (click)="openHome()" class="logo"></button>
      <nav>
        <div>
          <a href="#about" (click)="scrollToSection($event, 'about')">{{ 'navigation.about' | translate }}</a>
          <a href="#skills" (click)="scrollToSection($event, 'skills')">{{ 'navigation.skills' | translate}}</a>
          <a href="#projects" (click)="scrollToSection($event, 'projects')">{{ 'navigation.projects' | translate }}</a>
        </div>
        <div class="change__language">
          <button (click)="selectLanguage('de')" [class.selected]="selectedLanguage === 'de'">DE</button>
          <span>/</span>
          <button (click)="selectLanguage('en')" [class.selected]="selectedLanguage === 'en'">EN</button>
        </div>
      </nav>
      <button (click)="openOverlay()" class="burger__menu"></button>
    </div>
</header>
  
