<header 
  [@initialLoad]="shouldShowInitialAnimation ? '' : null"
  [class.header__hidden]="isHeaderHidden && !isHeaderHiddenImmediate" 
  [class.header__hidden--immediate]="isHeaderHiddenImmediate"
  [class.header__hovered]="shouldApplyHoverStyle()"
  (mouseenter)="onHeaderMouseEnter()" 
  (mouseleave)="onHeaderMouseLeave()">
    <div>
      <button (click)="openHome()" class="logo"></button>
      <nav>
        <div *ngIf="!alwaysShowHoverStyle">
          <a href="#about">{{ 'navigation.about' | translate }}</a>
          <a href="#skills">{{ 'navigation.skills' | translate}}</a>
          <a href="#projects">{{ 'navigation.projects' | translate}}</a>
        </div>
        <div class="change__language" [class.active]="alwaysShowHoverStyle">
          <button (click)="selectLanguage('de')" [class.selected]="selectedLanguage === 'de'">DE</button>
          <span>/</span>
          <button (click)="selectLanguage('en')" [class.selected]="selectedLanguage === 'en'">EN</button>
        </div>
      </nav>
      <button *ngIf="!alwaysShowHoverStyle" (click)="openOverlay()" class="burger__menu"></button>
    </div>
</header>
  
