<section #introSection>
    <img class="photo" src="img/test_photo.png" draggable="false" aria-hidden="true">
    <div>
        <div class="ellipse__3" #ellipseElement></div>
        <div class="content">
            <div class="main__box">
                <div class="main__text">
                    <h3 #animatedSubtitle></h3>
                    <h1 #animatedTitle1></h1>
                    <h2 #animatedTitle2></h2>
                </div>
                <div class="scroll__box" #scrollBox>
                    <span #scrollText>SCROLL</span>
                    <div #scrollLine></div>
                </div>
            </div>
        </div>
        <div class="mobile__scrolldown">
            <span>Scroll down</span>
            <button></button>
        </div>
        <div class="social__media">
            <app-social-button
                type="github"
                link="https://github.com/SimonHeistermann"
            ></app-social-button>

            <app-social-button
                type="email"
                link="mailto:buisness@heistermann-solutions.de"
            ></app-social-button>

            <app-social-button
                type="linkedin"
                link="https://www.linkedin.com/in/simon-maximilian-heistermann-419531250/"
            ></app-social-button>
        </div>
    </div>
    <app-menu-overlay class="menu__overlay" [class.active]="isOverlayActive"></app-menu-overlay>
</section>
