<section>
    <div>
        <div class="ellipse__13"></div>
        <div class="ellipse__14"></div>
        <div class="content">
            <h2>{{ 'contact.title' | translate }}</h2>
            <div class="content__container">
                <div class="content__left">
                    <div class="contact__text">
                        <div class="subtitle__box">
                            <h3>{{ 'contact.subtitle' | translate }}</h3>
                            <div class="texts">
                                <p class="description">{{ 'contact.description' | translate }}</p>
                                <span class="underline">
                                    {{ 'contact.underline' | translate }}
                                    <span class="underline__b">{{ 'contact.underline_b_tag' | translate }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="ellipse__11"></div>
                </div>
                <div class="content__right">
                    <app-contact-form></app-contact-form>
                </div>
            </div>
        </div>
    </div>
</section>
