@use './../../../../../styles' as *;

section
    background: var(--gradient-intro)
    width: 100%
    max-width: 100vw
    @include displayFlex()
    z-index: 50
    position: relative
    overflow: hidden

    > div
        width: $standardWidth
        height: 100%
        position: relative
        padding: 100px 0px 100px 0px
        padding-inline: $standardInlinePadding

.ellipse__11
    position: relative
    left: clamp(80px, 5vw, 204px)
    width: 204px
    height: 204px
    border-radius: 50%
    background: var(--gradient-radial-project)
    z-index: 2

.ellipse__13
    position: absolute
    top: 50px
    right: 30%
    width: 129.91px
    height: 129.91px
    border-radius: 50%
    background: var(--gradient-radial-project)
    transform: rotate(81.57deg)
    z-index: 2

.ellipse__14
    position: absolute
    bottom: 60px
    right: $standardInlinePadding
    width: 73px
    height: 73px
    border-radius: 50%
    background: var(--gradient-radial-project)
    z-index: 2

.content
    @include displayFlex($jc: flex-start, $ai: flex-start, $g: 80px)
    flex-direction: column
    position: relative
    width: 100%
    height: 100%
    z-index: 3

.content__container
    @include displayFlex($jc: space-between, $ai: flex-start, $g: 64px)
    width: 100%
    height: 100%

h2
    font-family: var(--fontfamily-baloo)
    font-size: 90px
    font-weight: 700
    line-height: 120%
    letter-spacing: 0
    horizontal-alignment: center
    color: var(--color-primary)
    user-select: none

.content__left
    height: 100%
    @include displayFlex($ai: flex-start, $jc: flex-start, $g: 64px)
    flex-direction: column
    max-width: 40%

.content__right
    height: 100%
    @include displayFlex($ai: flex-end, $jc: flex-start)
    max-width: 60%
    min-width: 50%
    z-index: 4

    > app-contact-form
        width: 100%
    
.contact__text
    @include displayFlex($ai: flex-start, $jc: flex-start, $g: 80px)
    flex-direction: column
    z-index: 3

.subtitle__box
    @include displayFlex($ai: flex-start, $g: 24px)
    flex-direction: column

    > h3
        @include fontMontserrat($fs: 32px, $fw: 700)
        color: var(--color-primary)

.texts
    @include displayFlex($ai: flex-start, $jc: flex-start, $g: 16px)
    flex-direction: column

    > .description
        @include fontMontserrat($fs: 16px)
        color: black
        text-overflow: ellipsis
        overflow: hidden

    > .underline
        font-family: var(--fontfamily-poppins)
        font-weight: 300
        font-size: 16px
        line-height: 120%
        letter-spacing: 0
        color: var(--color-primary)

.underline__b
    font-family: var(--fontfamily-baloo)
    font-weight: 700
    font-size: 18px
    line-height: 120%
    letter-spacing: 0
    color: var(--color-primary)

.ellipse__11, .ellipse__13, .ellipse__14, h2, h3
    will-change: transform
    transition: transform 0.2s ease
  
    &:hover 
        transform: scale(1.02)

button
    position: absolute
    left: $standardInlinePadding
    border-radius: 50%
    background: transparent
    background-image: url('./../../../../../../public/icons/go_up_arrow_icon.png')
    background-position: center
    background-repeat: no-repeat
    user-select: none
    background-size: cover
    bottom: 40px
    width: 40px
    height: 40px

    &:hover, &:active
        background-image: url('./../../../../../../public/icons/go_up_arrow_hover_icon.png')

@media screen and (max-width: 530px)
    .ellipse__11
        width: 0
        height: 0
        opacity: 0
        display: none

    .ellipse__13
        width: 69.85px
        height: 69.85px
        right: 40px

    .ellipse__14
        width: 50px
        height: 50px
        right: 16px
        bottom: 80px

    section
        > div
            padding: 160px 0px
            padding-inline: $standardInlinePadding

    h2
        font-size: 45px

    h3
        font-size: 23px !important

    p
        font-size: 16px !important
    
    .content
        gap: 27px

    .content__container
        flex-direction: column
        gap: 32px

    .content__left, .content__right
        max-width: 100%
        width: 100%
        