<section>
    <div>
        <div class="ellipse__5"></div>
        <div class="ellipse__6"></div>
        <div class="content__left">
            <div class="title__box">
                <h2>{{'about.title1' | translate}}</h2>
                <h2>{{'about.title2' | translate}}</h2>
            </div>
            <div class="left__container">
                <h3>{{'about.subtitle' | translate}}</h3>
                <div class="availability__icons">
                    <div>
                        <div aria-hidden="true">
                            <img src="/icons/pin_icon_default.png" alt="" draggable="false">
                            <img src="/icons/pin_icon_hover.png" alt="" draggable="false">
                        </div>
                        <span title="{{'about.location' | translate}}">{{'about.location' | translate}}</span>
                    </div>
                    <div>
                        <div aria-hidden="true">
                            <img src="/icons/remote_icon_default.png" alt="" draggable="false">
                            <img src="/icons/remote_icon_hover.png" alt="" draggable="false">
                        </div>
                        <span title="{{'about.workStyle' | translate}}">{{'about.workStyle' | translate}}</span>
                    </div>
                    <div>
                        <div aria-hidden="true">
                            <img src="/icons/luggage_icon_default.png" alt="" draggable="false">
                            <img src="/icons/luggage_icon_hover.png" alt="" draggable="false">
                        </div>
                        <span title="{{'about.lifeStyle' | translate}}">{{'about.lifeStyle' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content__right">
           <div class="texts">
                <p>
                    Write some information about yourself that is IT related. Why are you passionate about programming? What is your source of inspiration for improving your coding skills? Show a desire to learn new technologies.
                </p>
                <p>
                    Describe your approach to problem solving. Do you learn from each challenge to find the most efficient or elegant solution? You can include some key attributes such as: analytical thinking, creativity, persistence and collaboration.
                </p>
           </div> 
           <button></button>

        </div>
    </div>
</section>
