<div 
    class="container"
    [ngClass]="{ 'growth__skill': skillName === 'Growth mindset' }"
>
    <div 
        class="skill__icon" 
        [ngStyle]="{ 'background': 'url(' + getIconPath() + ')' }"
        draggable="false"
        role="img" 
        [attr.aria-label]="skillName">
    </div>
    <span>{{ skillName === 'Growth mindset' ? ('skills.growthTitle' | translate) : skillName }}</span>

    <div class="growth__popup" *ngIf="skillName === 'Growth mindset'" [class.visible]="isHovered">
        <div class="popup__content">
            <p>{{ 'skills.growthText' | translate}}</p>
            <div class="tech__icons">
                <div class="tech__icon">
                    <div class="react__icon"></div>
                    <span>React</span>
                </div>
                <div class="tech__icon">
                    <div class="vue__icon"></div>
                    <span>Vue Js</span>
                </div>
            </div>
        </div>
    </div>
</div>

